@import "tailwindcss";

:root {
  --font-sans: 'Geist', sans-serif;

  /* Custom colors */
  --color-bg: #002444;
  
  /* Unused but in same theme
  --color-primary: #1D405D
  --color-secondary: #3067A9
  --color-accent: #68BE65
  --color-text: #OFF WHITE?
  */
}

html, body {
  font-family: var(--font-sans);
  background-color: var(--color-bg);
  color: var(--color-text);
}
